<%= form_with(model: service, local: true) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :service_name %>
  </div>

  <div class="field">
    <%= form.label :sla_service_hour %>
    <%= form.number_field :sla_service_hour, id: :service_sla_service_hour %>
  </div>

  <div class="field">
    <%= form.label :sla_service_minute %>
    <%= form.number_field :sla_service_minute, id: :service_sla_service_minute %>
  </div>

  <div class="field">
    <%= form.label :function_id %>
    <%= form.number_field :function_id, id: :service_function_id %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :service_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
