<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Sla service hour:</strong>
  <%= @service.sla_service_hour %>
</p>

<p>
  <strong>Sla service minute:</strong>
  <%= @service.sla_service_minute %>
</p>

<p>
  <strong>Function:</strong>
  <%= @service.function_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @service.active %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
