<section class="indicators container-fluid">
  <div class="row">
    <section class="col-md-3">
      <div class="indicators-box indicator-um text-center">
        Indicador 1
        <span class="label label-default">10</span>
      </div>
    </section>
    <section class="col-md-3">
      <div class="indicators-box indicator-dois text-center">
        Indicador 2
        <span class="label label-default">21</span>
      </div>
    </section>
    <section class="col-md-3">
      <div class="indicators-box indicator-tres text-center">
        Indicador 3
        <span class="label label-default">100</span>
      </div>
    </section>
    <section class="col-md-3">
      <div class="indicators-box text-center">
        Indicador 4
        <span class="label label-default">80</span>
      </div>
    </section>
  </div>
</section>