<section class="container-fluid">
  <div>
    <div class="row">
      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-heading card-title text-uppercase">Painel 1</div>
          <div class="panel-body body-card">
            Painel 1
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-heading card-title text-uppercase">Title 2</div>
          <div class="panel-body body-card">
            Painel 2
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-heading card-title text-uppercase">Title 3</div>
          <div class="panel-body body-card">
            Painel 3
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel">
          <div class="panel-heading card-title text-uppercase">Title 4</div>
          <div class="panel-body body-card">
            Painel 4
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>