<table class="table table-hover">
  <thead>
    <tr>
      <th>Data/Hora da Solicitação</th>
      <th>Serviço Solicitado</th>
      <th>Descrição do Serviço</th>
      <th>Unidade Socioeducativa</th>
      <th>Área Solicitante</th>
      <th>Usuário Solicitante</th>
      <th>Atendimento para</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @service_requests_attend.each do |service_request| %>
      <tr>
        <td><%= service_request.date_request.strftime('%d/%m/%Y') + ' ' + service_request.time_request.strftime('%H:%M') %></td>
        <td><%= service_request.service&.name %></td>
        <td><%= service_request.description_problem %></td>
        <td><%= Area.find(service_request.area_requesting)&.unit&.name %></td>
        <td><%= Area.find(service_request.area_requesting).name if !service_request.area_requesting.blank? %></td>
        <td><%= User.find(service_request.user_requesting).name if !service_request.user_requesting.blank? %></td>
        <td><%= User.find(service_request.service_for)&.name if !service_request.service_for.blank? %></td>
        <td><%= link_to '<i class="fa fa-list-alt" aria-hidden="true" title="Detalhes do serviço."></i>'.html_safe, service_request_path(service_request.id) %></td>
        <% if !service_request.date_scheduled.nil? %>
          <td><%= link_to '<i class="fa fa-calendar-check-o" aria-hidden="true" title="Programar data para atendimento do serviço."></i>'.html_safe, schedule_request_service_requests_path(service_request_id: service_request.id), remote: true %></td>
        <% else %>
          <td><%= link_to '<i class="fa fa-calendar-o" aria-hidden="true" title="Programar data para atendimento do serviço."></i>'.html_safe, schedule_request_service_requests_path(service_request_id: service_request.id), remote: true %></td>
        <% end %>
        <td><%= link_to '<i class="fa fa-paper-plane" aria-hidden="true" title="Atender o serviço."></i>'.html_safe, answer_request_service_requests_path(service_request_id: service_request.id), remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @service_requests_attend %>
</div>

<div id="div_schedule_request"></div>
<div id="div_answer_service"></div>