<%= form_with(model: service_request, local: true, :multipart => true) do |form| %>
  <% if service_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service_request.errors.count, "error") %> prohibited this service_request from being saved:</h2>

      <ul>
      <% service_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :date_request, value: Date.current, id: :service_request_date_request %>

  <%= form.hidden_field :time_request, value: Time.current, id: :service_request_time_request %>

  <%= form.hidden_field :user_requesting, value: current_user.id, id: :service_request_user_requesting %>

  <%= form.hidden_field :area_requesting, value: @area_requesting&.id, id: :service_request_area_requesting %>


  <div class="row">
    <div class="col-md-6">
      <%= form.label :unit, 'Unidade' %>
      <%= form.collection_select :unit, Unit.all, :id, :name, {prompt: 'Selecione'}, class: 'form-control select2', required: true, id: :unit %>
    </div>

    <div class="col-md-6">
      <%= form.label :requested_area %>
      <%= form.select :requested_area, [], {prompt: 'Selecione'}, {data: {remote: true, url: services_area_path}, class: 'form-control select2', required: true, id: :area} %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <%= form.label :service_id %>
      <%= form.select :service_id, [], {prompt: 'Selecione'}, id: :service, class: 'form-control select2', required: true %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12">
      <%= form.label :description_problem %>
      <%= form.text_area :description_problem, id: :service_request_description_problem, class: 'form-control', required: true %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <label>
        <input id="new-user" type="checkbox"> Atendimento para outro usuário
      </label>
    </div>

    <div id="service_request_user" class="col-md-8">
      <%= form.label :service_for %>
      <%= form.collection_select :service_for, User.all, :id, :name, {prompt: 'Selecione'}, id: :service_request_user, class: 'form-control' %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4">
      <%= file_field_tag "files_directory[]", multiple: true %>
    </div>
  </div>
  <br>

  <div class="actions">
    <%= form.submit 'Solicitar', class: 'btn btn-primary' %>
  </div>
<% end %>
