<div class="modal fade bs-example-modal-lg" id="modalForward" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Encaminhar serviço ao responsável</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/service_requests/save_forward_responsible') do %>
          <%= hidden_field_tag :service_request_id, @service_request_id %>
          <div class="row">
            <div class="col-md-12">
              <label>Responsável</label>
              <%= select_tag :user_responsible_attendance, options_for_select(User.all.order(:name).collect { |e| [e.name, e.id] }), { prompt: 'Selecione', class: 'form-control' } %>
            </div>
          </div>
          <br>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <%= submit_tag 'Encaminhar', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>