<div class="modal fade bs-example-modal-lg" id="modalAnswer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Realizar serviço solicitado</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/service_requests/save_answer_service') do %>
          <%= hidden_field_tag :service_request_id, @service_request_id %>
          <%= hidden_field_tag :user_responsible_attendance, current_user.id %>
          <div class="row">
            <div class="col-md-3">
              <label>Data do Atendimento</label>
              <%= text_field_tag :date_service, Date.current.strftime('%d/%m/%Y'), class: 'form-control mask_date' %>
            </div>

            <div class="col-md-3">
              <label>Hora do Atendimento</label>
              <%= text_field_tag :time_service, Time.current.strftime('%H:%M'), class: 'form-control mask_hour' %>
            </div>

            <div class="col-md-6">
              <label>Status</label>
              <%= select_tag :status, options_for_select(Status.all.collect { |e| [e.description, e.id] }), { prompt: 'Selecione', class: 'form-control' } %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <label>Observações</label>
              <%= text_area_tag :notes, nil, class: 'form-control' %>
            </div>
          </div>          
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <%= submit_tag 'Salvar', class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>