<div class="modal fade" id="modalSchedule" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Programar data para atendimento do serviço</h4>
      </div>
      <div class="modal-body">
        <%= form_tag('/service_requests/save_schedule_request') do %>
          <%= hidden_field_tag :service_request_id, @service_request.id %>
          <div class="row">
            <div class="col-md-6">
              <label>Dada Programada</label>
              <%= text_field_tag :date_scheduled, (@service_request.date_scheduled&.strftime('%d/%m/%Y') || Date.current.strftime('%d/%m/%Y')), class: 'form-control mask_date', required: true %>
            </div>

            <div class="col-md-6">
              <label>Hora Programada</label>
              <%= text_field_tag :time_scheduled, (@service_request.time_scheduled&.strftime('%H:%M') || Time.current.strftime('%H:%M')), class: 'form-control mask_hour', required: true %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            <% if !@service_request.date_scheduled.nil? %>
              <%= submit_tag 'Reprogramar', class: 'btn btn-warning' %>
            <% else %>
              <%= submit_tag 'Programar', class: 'btn btn-primary' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>