<table class="table table-hover">
  <thead>
    <tr>
      <th>Data/Hora da Solicitação</th>
      <th>Serviço Solicitado</th>
      <th>Descrição do Serviço</th>
      <th>Unidade Socioeducativa</th>
      <th>Área Solicitante</th>
      <th>Usuário Solicitante</th>
      <th>Atendimento para</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @service_requests_requested.each do |service_request| %>
      <tr>
        <td><%= service_request.date_request.strftime('%d/%m/%Y') + ' ' + service_request.time_request.strftime('%H:%M') %></td>
        <td><%= service_request.service&.name %></td>
        <td><%= service_request.description_problem %></td>
        <td><%= Area.find(service_request.area_requesting)&.unit&.name %></td>
        <td><%= Area.find(service_request.area_requesting).name if !service_request.area_requesting.blank? %></td>
        <td><%= User.find(service_request.user_requesting).name if !service_request.user_requesting.blank? %></td>
        <td><%= User.find(service_request.service_for)&.name if !service_request.service_for.blank? %></td>
        <td><%= link_to '<i class="fa fa-list-alt" aria-hidden="true" title="Detalhes do serviço."></i>'.html_safe, service_request_path(service_request.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= paginate @service_requests_requested %>
</div>
