<div class="pull-right">
  <a class="btn btn-primary" href="/service_requests/new" role="button">Solicitar Serviço</a>
</div>
<span style="font-size: 30px;">Serviços</span>
<hr>
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation"><a href="#tab_area" aria-controls="tab_area" role="tab" data-toggle="tab">Área</a></li>
    <li role="presentation" class="active"><a href="#tab_attend" aria-controls="home" role="tab" data-toggle="tab">Atender</a></li>
    <li role="presentation"><a href="#tab_attended" aria-controls="tab_attended" role="tab" data-toggle="tab">Atendidos</a></li>
    <li role="presentation"><a href="#tab_requested" aria-controls="tab_requested" role="tab" data-toggle="tab">Solicitados</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="tab_area">
      <%= render partial: 'area' %>
    </div>
    <div role="tabpanel" class="tab-pane active" id="tab_attend">
      <%= render partial: 'attend' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_attended">
      <%= render partial: 'attended' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_requested">
      <%= render partial: 'requested' %>
    </div>
  </div>
</div>