<div class="pull-right">
  <a class="btn btn-primary" href="/service_requests" role="button">Meus Serviços</a>
</div>
<span style="font-size: 30px;">Solicitar Serviço</span>
<hr>

<%= render 'form', service_request: @service_request %>