<div class="pull-right">
  <a class="btn btn-primary" href="/service_requests" role="button">Voltar</a>
</div>
<span style="font-size: 30px;">Detalhes do Serviço</span>
<hr>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Informações da Solicitação</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Data/Hora da Solicitãção:</strong>
      <%= @service_request.date_request&.strftime('%d/%m/%Y') + ' ' + @service_request.time_request&.strftime('%H:%M') %>
    </p>
    <p>
      <strong>Serviço:</strong>
      <%= @service_request.service&.name %>
    </p>
    <p>
      <strong>Descrição do Serviço:</strong>
      <%= @service_request.description_problem %>
    </p>
    <p>
      <strong>Unidade Socioeducativa:</strong>
      <%= @service_request.unit&.name %>
    </p>
    <p>
      <strong>Área Solicitante:</strong>
      <%= Area.find_by(id: @service_request.area_requesting)&.name %>
    </p>
    <p>
      <strong>Usuário Solicitante:</strong>
      <%= User.find_by(id: @service_request.user_requesting)&.name %>
    </p>
    <p>
      <strong>Serviço Solicitado para:</strong>
      <%= User.find_by(id: @service_request.service_for)&.name %>
    </p>
    <p>
      <strong>Arquivos:</strong><br>
      <% if !@list_service_files.blank? %>
        <% @list_service_files.each do |file| %>
          <ul>
            <li><%= link_to file, download_file_path(id: @service_request.id, filename: file), method: :post %></li>
          </ul>
        <% end %>
      <% end %>
    </p>
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Informações do Atendimento</h3>
  </div>
  <div class="panel-body">
    <p>
      <strong>Data da Resposta:</strong>
      <%= @service_request&.date_response %>
    </p>

    <p>
      <strong>Hora da Resposta:</strong>
      <%= @service_request&.time_response %>
    </p>

    <p>
      <strong>Data Programada:</strong>
      <%= @service_request.date_scheduled&.strftime('%d/%m/%Y') %>
    </p>

    <p>
      <strong>Hora Programada:</strong>
      <%= @service_request.time_scheduled&.strftime('%H:%M') %>
    </p>

    <p>
      <strong>Usuário Responsável pelo Atendimento:</strong>
      <%= User.find(@service_request.user_responsible_attendance)&.name if !@service_request.user_responsible_attendance.nil? %>
    </p>

    <p>
      <strong>Data Realização do Serviço:</strong>
      <%= @service_request.date_service&.strftime('%d/%m/%Y') %>
    </p>

    <p>
      <strong>Hora Realização do Serviço:</strong>
      <%= @service_request.time_service&.strftime('%H:%M') %>
    </p>

    <p>
      <strong>Tempo para Finalização do Serviço:</strong>
      <%= @service_request.time_finalization_attendance %>
    </p>

    <p>
      <strong>Observações:</strong>
      <%= @service_request.notes %>
    </p>

    <p>
      <strong>Status:</strong>
      <%= @service_request&.status&.description %>
    </p>

    <p>
      <strong>Tempo Máximo para Atendimento:</strong>
      <%= @service_request.maximum_time_of_attendance %>
    </p>
  </div>
</div>