<%= form_with(model: user_area, local: true) do |form| %>
  <% if user_area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user_area.errors.count, "error") %> prohibited this user_area from being saved:</h2>

      <ul>
      <% user_area.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :user_area_user_id %>
  </div>

  <div class="field">
    <%= form.label :area_id %>
    <%= form.text_field :area_id, id: :user_area_area_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
