<p id="notice"><%= notice %></p>

<h1>User Areas</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_areas.each do |user_area| %>
      <tr>
        <td><%= user_area.user %></td>
        <td><%= user_area.area %></td>
        <td><%= link_to 'Show', user_area %></td>
        <td><%= link_to 'Edit', edit_user_area_path(user_area) %></td>
        <td><%= link_to 'Destroy', user_area, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Area', new_user_area_path %>
