<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @user_area.user %>
</p>

<p>
  <strong>Area:</strong>
  <%= @user_area.area %>
</p>

<%= link_to 'Edit', edit_user_area_path(@user_area) %> |
<%= link_to 'Back', user_areas_path %>
