<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#process" aria-controls="Process" role="tab" data-toggle="tab" class="text-uppercase">Processos</a></li>
    <li role="presentation"><a href="#tramitacao" aria-controls="tramitacao" role="tab" data-toggle="tab" class="text-uppercase">Tramitações</a></li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="process"><br>
      <%= form_with(model: @process_manager, local: true, id: 'form') do |form| -%>
        <% if process_manager.new_record? %>
          <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navProcess">
              <li class="text-uppercase"><%= link_to 'Incluir', "#", :onclick=>"$('#form').submit()" %></li>
              <li class="text-uppercase"><%= link_to "Limpar", '#', onclick: 'clear_form()' %></li>
            </ul>
          </nav>
        <% else %>
          <nav class="navbar navbar-default">
            <ul class="nav navbar-nav navProcess">
              <li class="text-uppercase"><%= link_to 'Atualizar', "#", :onclick => "$('#form').submit()" %></li>
              <li class="text-uppercase"><%= link_to 'Novo', home_index_path %></li>
            </ul>
          </nav>
        <% end %>
        <!-- <br>
        <%# if !flash[:notice].blank? %>
          <div class="alert alert-success" role="alert">
            <%#= flash[:notice] %>
          </div>
        <%# end -%>
        <%# if process_manager.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%#= pluralize(process_manager.errors.count, "error") %> prohibited this process_manager from being saved:
            </h2>

            <ul>
              <%# process_manager.errors.full_messages.each do |message| %>
                <li>
                  <%#= message %>
                </li>
              <%# end %>
            </ul>
          </div>
        <%# end %> -->
        <section class="container-fluid">
          <div class="row">
            <div class="col-md-2">
              <%= form.label :process_number %><br>
              <%= form.text_field :process_number, id: :process_manager_process_number, class: 'form-control mask_process' %>
              <%# form.text_field :process_number, id: :process_manager_process_number, value: Time.current.strftime('%d%m%Y%H%M'), readonly: true, class: 'form-control' %>
            </div>

            <div class="col-md-2">
              <%= form.label :opening_hour_date %>
              <% if process_manager.new_record? %>
                <%= form.text_field :opening_hour_date, id: :process_manager_opening_hour_date, value: Time.current.strftime('%d/%m/%Y %H:%M'), readonly: true, class: 'form-control' %>
              <% else %>
                <%= form.text_field :opening_hour_date, id: :process_manager_opening_hour_date, readonly: true, class: 'form-control' %>
              <% end %>
            </div>
            
            <div class="col-md-3">
              <%= form.label :confidentiality_level %><b style="color: red;"> *</b><br>
              <%= form.collection_select :confidentiality_level, ConfidentialityLevel.all, :id, :description, {prompt: 'Selecione'}, {class: 'form-control'} %>
            </div>

            <div class="col-md-3">
              <%= form.label :priority %><b style="color: red;"> *</b><br>
              <%= form.collection_select :priority, Priority.all, :id, :description, {prompt: 'Selecione'}, {class: 'form-control'} %>
            </div>

            <div class="col-md-2">
              <%= form.label :deadline %><br>
              <%= form.text_field :deadline, class: 'datepicker form-control' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <%= form.label :subject %><b style="color: red;"> *</b><br>
              <%= form.select :subject, ViprocInformation.listar_assuntos, {prompt: 'Selecione', required: true}, class: 'form-control select2' %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-6">
              <%= form.label :notes %><b style="color: red;"> *</b><br>
              <%= form.text_area :notes, id: :process_manager_notes, required: true, class: 'form-control' %>
            </div>
            <div class="col-md-6">
              <%= form.label :key_words %><b style="color: red;"> *</b><br>
              <% if process_manager.new_record? %>
                <%= select_tag :key_words, options_for_select([]), {multiple: true, class: 'form-control select2-tag'} %>
              <% else %>
                <%= select_tag :key_words, options_for_select(process_manager.key_words, selected: process_manager.key_words), {multiple: true, class: 'form-control select2-tag'} %>
              <% end %>
            </div>
          </div>
          <br>
          <%= form.hidden_field :created_by, id: :process_manager_created_by, value: current_user.id %>
          <div class="row">
            <div class="col-md-6">
              <label>Autores do Processo</label>
              <% if process_manager.new_record? %>
                <%= select_tag :author, options_for_select(ViprocInformation.listar_sigla_orgaos), {multiple: true, class: 'form-control select2-tag'} %>
              <% else %>
                <%= select_tag :author, options_for_select(ViprocInformation.listar_sigla_orgaos, selected: process_manager.authors), {multiple: true, class: 'form-control select2-tag'} %>
              <% end %>
            </div>
            <div class="col-md-6">
              <label>Favorecidos do Processo</label>
              <% if process_manager.new_record? %>
                <%= select_tag :favored, options_for_select(ViprocInformation.listar_sigla_orgaos), {multiple: true, class: 'form-control select2-tag clear'} %>
              <% else %>
                <%= select_tag :favored, options_for_select(ViprocInformation.listar_sigla_orgaos, selected: process_manager.favored), {multiple: true, class: 'form-control select2-tag clear'} %>
              <% end %>
            </div>
          </div>
          <br>
        </section>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tramitacao">
      <br>
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-md-12">
            <label class="control-label" for="textarea">Ultimas observações enviadas</label>
            <textarea class="form-control" id="textarea" name="textarea"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-8">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                  Responsavel Atual
                  <span class="caret"></span>
                </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Option</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div>
          <!-- <button type="button" class="btn btn-default">Tramitar</button>
          <button type="button" class="btn btn-default">Alterar fase</button>
          <button type="button" class="btn btn-default"> Alerta situação</button>
          <button type="button" class="btn btn-default">Cadastrais</button> -->
          <button type="button" class="btn btn-default">Excluir</button>
          <!-- <button type="button" class="btn btn-default">Comprovante de envio</button> -->
        </div>
        <hr>
        <div class="panel panel-default">
          <div class="panel-heading text-uppercase text-center">
            Tramitações
          </div>
          <table class="table table-bordered">
            <tr class="success">
              <td><b>Orgão</b></td>
              <td><b>Localização</b></td>
              <td><b>Informações</b></td>
              <td><b>Fase</b></td>
              <td><b>Situação</b></td>
              <td><b>Permanência</b></td>
              <td><b>Data/Hora</b></td>
            </tr>
            <tr>
              <td>SEAS</td>
              <td>Celula de tecnologia da Informação</td>
              <td>1 | 2 | 4 | 3</td>
              <td>Para providências</td>
              <td>Aguardando providências</td>
              <td>0 min</td>
              <td>00/00/000 10:30</td>
            </tr>
            <tr>
              <td>SEAS</td>
              <td>Celula de tecnologia da Informação</td>
              <td>1 | 2 | 4 | 3</td>
              <td>Para providências</td>
              <td>Aguardando providências</td>
              <td>0 min</td>
              <td>00/00/000 10:30</td>
            </tr>
            <tr>
              <td>SEAS</td>
              <td>Celula de tecnologia da Informação</td>
              <td>1 | 2 | 4 | 3</td>
              <td>Para providências</td>
              <td>Aguardando providências</td>
              <td>0 min</td>
              <td>00/00/000 10:30</td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>