<p id="notice"><%= notice %></p>

<h1>Process Managers</h1>

<table>
  <thead>
    <tr>
      <th>Process number</th>
      <th>Opening hour date</th>
      <th>Subject</th>
      <th>Notes</th>
      <th>Key words</th>
      <th>Confidentiality level</th>
      <th>Priority</th>
      <th>Created by</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @process_managers.each do |process_manager| %>
      <tr>
        <td><%= process_manager.process_number %></td>
        <td><%= process_manager.opening_hour_date %></td>
        <td><%= process_manager.subject %></td>
        <td><%= process_manager.notes %></td>
        <td><%= process_manager.key_words %></td>
        <td><%= process_manager.confidentiality_level %></td>
        <td><%= process_manager.priority %></td>
        <td><%= process_manager.created_by %></td>
        <td><%= process_manager.status %></td>
        <td><%= link_to 'Show', process_manager %></td>
        <td><%= link_to 'Edit', edit_process_manager_path(process_manager) %></td>
        <td><%= link_to 'Destroy', process_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Process Manager', new_process_manager_path %>
