<p id="notice"><%= notice %></p>

<p>
  <strong>Process number:</strong>
  <%= @process_manager.process_number %>
</p>

<p>
  <strong>Opening hour date:</strong>
  <%= @process_manager.opening_hour_date %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @process_manager.subject %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @process_manager.notes %>
</p>

<p>
  <strong>Key words:</strong>
  <%= @process_manager.key_words %>
</p>

<p>
  <strong>Confidentiality level:</strong>
  <%= @process_manager.confidentiality_level %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @process_manager.priority %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @process_manager.created_by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @process_manager.status %>
</p>

<%= link_to 'Edit', edit_process_manager_path(@process_manager) %> |
<%= link_to 'Back', process_managers_path %>
