<section class="container">
  
  <div class="cont">

    <div class="card-container card">

      <h2 class="text-center login_title">Log in</h2>
      <hr>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email, class: "input_title" %><br />
        <%= f.email_field :email, autofocus: true, class: "login_box" %>
      </div>
      
      <div class="field">
        <%= f.label :password, class: "input_title" %><br />
        <%= f.password_field :password, autocomplete: "off", class: "login_box" %>
      </div>
      
      <!-- <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%> -->
      
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-success btn-block" %>
      </div>
      <% end %>
      
      <%#= render "devise/shared/links" %>
    
    </div>

  </div>

</section>