<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :unit_name %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :unit_address %>
  </div>

  <div class="field">
    <%= form.label :address_number %>
    <%= form.number_field :address_number, id: :unit_address_number %>
  </div>

  <div class="field">
    <%= form.label :add_address %>
    <%= form.text_field :add_address, id: :unit_add_address %>
  </div>

  <div class="field">
    <%= form.label :active %>
    <%= form.check_box :active, id: :unit_active %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
