<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @unit.address %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @unit.address_number %>
</p>

<p>
  <strong>Add address:</strong>
  <%= @unit.add_address %>
</p>

<p>
  <strong>Active:</strong>
  <%= @unit.active %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
