/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require bootstrap-datepicker
*= require select2
*= require select2-bootstrap
*/

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');

/*Cores*/
/*verde = #00853b;*/
/*laranja = #fc6836;*/

.navbar {
  border-radius: 0px;
  color: white;
}

.navbar-inverse {
  background: linear-gradient(to right, #204D37, #00853B 40%);
  /*background-color: #8A996D;*/
  /*border-color: #75884F;*/
}

.navbar-default {
  background-color: #C1C48B;
  border-color: #C1C48B;
  color: #1F2423;
}

/*.navbar-default {
  border-bottom: 1px solid #C1C48B;
  color: #1F2423;
}*/

.navProcess>li>a:hover,
.navProcess>li>a:focus {
  font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background-color: #B4B67C;
  color: #FFFFFF;
}

.navbar-inverse .navbar-brand {
  color: white;
}

.navbar-inverse .navbar-nav>li>a,
.navbar-nav>li>a:hover {
  background-color: #D3DAB6;
  color: #1B1F13;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
  background-color: #D3DAB6;
  color: #1B1F13;
}

.sidebar {
  background: #00853B;
  /*background: #BCC7A8;*/
  border-left: solid 12px white;
  min-height: 890px;
}

.sidebar>.nav>li>a:hover {
  background-color: #0B713A;
  border-left: 6px solid #fc6836;
  color: #ffffff;
}

.sidebar>.nav>li>a:focus {
  border-left: 0px;
}

.menu>li>a {
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  background: rgba(207, 218, 217, 0);
  /*color: #4A6360;*/
  color: #ffffff;
}

.nav-tabs {
  background: #fc6836;
  border-bottom: 1px solid #c1c48b;
}

.nav>li>a:hover, 
.nav > li > a:focus {
  text-decoration: none;
  background-color: #FE9470;
}

.nav-tabs>li>a {
  color: white;
}

.nav-tabs>li.active>a,                                                  
.nav-tabs>li.active>a:hover
.nav-tabs>li.active>a:focus {
  /*color: #00853b;*/
  border: 1px solid #fc6836;
  border-bottom-color: transparent;
}

.btn {
  border-radius: 2px;
}

.logo {
  position: absolute;
  top: 85%;
  left: 47%;
  transform: translate(-50%);
  max-height: 90px;
}

.indicators {
  margin-bottom: 24px;
}

.indicators .label-default {
  background-color: white;
  color: #1F2423;
  font-size: 13px;
}

.indicators-box {
  background: #C5870B;
  border-radius: 2px;
  border-color: #7fb3ad;
  padding: 15px;
  color: white;
  width: 100%;
}

.indicator-um {
  background: #8f689b;
}

.indicator-dois {
  background: #2179B1;
}

.indicator-tres {
  background: #13580A;
}

.body-card {
  background-color: #EBEEE3;
  min-height: 200px;
}

.card-title {
  background: #D5DDBE;
  color: #1F2423;
}

.panel-default .panel-heading a:hover,
a:focus {
  text-decoration: none;
}

.panel-title {
  font-size: 14px;
}

tr:nth-child(1) {
  color: #585C4F;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}