.cont {
    position: relative;
    top: 25vh;
}

.login_box {
    background: #f7f7f7;
    border: 3px solid #F4F4F4;
    padding-left: 10px;
    margin-bottom: 25px;
    width: 300px;
}

.input_title {
    color: #4A6360;
    padding-left: 3px;
    margin-bottom: 2px;
    font-weight: normal;
}

.login_title {
    font-family: "myriad-pro", sans-serif;
    font-style: normal;
    font-weight: 100;
    color: #4A6360;
}

.card {
    background-color: #FFFFFF;
    padding: 1px 25px 30px;
    margin: 0 auto 25px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-container.card {
    background: #BCC7A8;
    max-width: 350px;
    padding: 20px;
}