<section class="container-fluid">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav navProcess">
      <li class="text-uppercase"><a href="#">tramitar</a></li>
      <li class="active text-uppercase"><a href="#">Alterar Fase</a></li>
      <li class="text-uppercase"><a href="#">Alterar Situação</a></li>
      <li class="text-uppercase"><a href="#">Cadastrais</a></li>
      <li class="text-uppercase"><a href="#">Comprovante de Envio</a></li>
    </ul>
  </nav>
</section>