<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/dashboard/index" style="font-family: 'Saira Semi Condensed', sans-serif; font-size: 25px;">Sistema de Processos</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li class="text-uppercase">
            <a href="#" class="label label-default"><%= current_user.name %></a>
        </li> 
        <li>
          <span class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <%= link_to content_tag(:i, nil, class:'glyphicon glyphicon-off'), destroy_user_session_path, method: :delete, class: "btn btn-danger navbar-btn pull-right" %>
          </span>
        </li>  
    </ul>
  </div>
</nav>
