<nav class="sidebar col-xs-2">
  <form action="#">
    <br>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="PESQUISAR">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
      </span>
    </div>
    <hr>
  </form>
  <ul class="nav menu">
    <li>
      <a href="/dashboard/index" class="text-uppercase">
      <i class="fa fa-home fa-fw"></i> Início</a>
    </li>
    <!-- <li>
      <a href="/home/index" class="text-uppercase">
      <i class="fa fa-inbox fa-fw"></i> Processos</a>
    </li> -->
    <li>
      <a href="/service_requests" class="text-uppercase">
      <i class="fa fa-files-o fa-fw"></i> Serviços</a>
    </li>
    <!-- <li>
      <a href="#" class="text-uppercase">
      <i class="fa fa-filter fa-fw"></i> Consultar</a>
    </li>
    <li>
      <a href="#" class="text-uppercase">
      <i class="fa fa-files-o fa-fw"></i> Tabelas</a>
    </li>
    <li>
      <a href="#" class="text-uppercase">
      <i class="fa fa-clipboard fa-fw"></i> Sistemas</a>
    </li>
    <li>
      <a href="#" class="text-uppercase">
      <i class="fa fa-question-circle-o fa-fw"></i> Ajuda</a>
    </li> -->
  </ul>
  <hr>
  <span class="text-center">
    <%= image_tag  'govce.png', class: 'logo img-rounded' %>
  </span>
</nav>