<!DOCTYPE html>
<html>
  <head>
    <title>ProcessSystem</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render partial: 'layouts/navbar' %>
        <div class="container-fluid">
          <div class="row">
            <%= render partial: 'layouts/sidebar' %>
            <div class="col-xs-10">
              <% if params[:controller] != 'home' %>
                <%= yield %>
              <% end %>
            </div>
          </div>
        </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>